@media only screen and (max-width: 600px) {

header nav {
      flex-direction: column-reverse; 
      align-items: center; 
      text-align: center; 
      width: 100%; 
      margin: 0; 
      padding: 1rem 0; 
}
  
header nav img {
      width: 70px; 
      margin-bottom: 1rem; 
}
  
.header-title {
      padding: 2rem 0; 
      font-size: 30px; 
}
  
.our-dogs-wrapper, .contact {
      width: 90%; 
}
  
.our-dogs ul {
      flex-direction: column; 
      justify-content: center; 
}
  
.our-dogs ul li img {
      width: 100%; 
      height: auto; 
      margin-bottom: 1rem; 
 }
  
.helpNeed {
      padding: 1.5rem 0; 
}
  
.helpNeed ul {
      flex-direction: column; 
      justify-content: center; 
}
  
.helpNeed li {
      flex: 1 0 100%; 
      margin-bottom: 1rem; 
}
  
.helpNeed li img {
      width: 5rem; 
      height: 5rem; 
}

.contact p {
      font-size: 14px; 
    }
}
  