<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="about-us-container">
    <h1>About us</h1>
    <p>
        Welcome to our website! We are a team of passionate cooks who share their love for food.
        Our mission is to provide inspiring and delicious recipes for every cooking enthusiast.
    </p>
    <p>
        We believe that food is a reason for unity and joy. We draw inspiration from the variety of flavors and
        traditions of different cuisines around the world.
    </p>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>