<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<form class="full-screen-form" th:method="POST" th:action="@{/users/login}">
    <h1>Log in</h1>
    <p th:if="${badCredentials}" class="errors alert alert-danger">
        Wrong username or password!
    </p>

    <div th:if="${inactive}" class="alert alert-warning" role="alert">
        Your account is inactive. Please contact the administrator.
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               required
               min="3"
               max="20"
               placeholder="username"
               name="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               required
               id="password"
               min="3"
               max="20"
               placeholder="password"
               name="password">
    </div>

    <!-- <div class="form-check">
         <input type="checkbox" class="form-check-input" id="dropdownCheck2">
         <label class="form-check-label" for="dropdownCheck2">
             Remember me
         </label>
     </div>-->
    <p>Don't have an account? <a href="/users/register" class="link-info">Register here</a></p>
    <br>
    <button type="submit" class="btn btn-primary">LOGIN</button>
</form>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>