<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4">
                    <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle">
                    </div>
                    <form th:action="@{/profile/edit}" th:method="GET">
                        <button type="submit" class="edit-button">
                            <span>&#9998;</span>
                        </button>
                    </form>
                    <div class="text-center mt-3" th:object="${userProfileViewModel}">
                        <h5 class="mt-2 mb-0">Username</h5>
                        <span th:text="${userProfileViewModel.username}">Username</span>
                        <h5 class="mt-4 mb-0">First name</h5>
                        <span th:text="${userProfileViewModel.firstName}">First name</span>
                        <h5 class="mt-4 mb-0">Last name</h5>
                        <span th:text="${userProfileViewModel.lastName}">Last name</span>
                        <h5 class="mt-2 mb-0">Email</h5>
                        <span th:text="${userProfileViewModel.email}">some@example.com</span>
                        <h5 class="mt-2 mb-0">Age</h5>
                        <span th:text="${userProfileViewModel.age}">33</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}" class="footer bg-blur rounded"></footer>
</body>
</html>

