

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 10px ;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

header, section, footer {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
}

nav a:hover, footer a:hover {
    color: #007bff;
    text-decoration: underline;
}