<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <div th:object="${homePosts}" class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">
                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">My Posts</h3>
                <h6 th:text="|Username: ${@sessionUser.username}|" class="mySticky bg-gray text-dark  mb-0 mt-0">
                    Username: {username}</h6>
                <div class="bg-dark rounded m-auto" style="height: 68.5vh; overflow: auto">
                    <table class="table table-striped table-dark">
                        <tr th:each="myPost : *{myPosts}">
                            <td class="bg-info" scope="row" style="width: 5%">
                                <img class="mr-2 " src="/img/post-bubble.png" alt="PostBubble" width="30px"
                                     height="30px">
                            </td>
                            <td th:text="${myPost.mood.name}"  style="width: 5%" class="bg-info">{mood}</td>
                            <td th:text="|${myPost.getUserLikes().size()} likes|" class="bg-primary" style="width: 15%">{numberOfLikes) likes</td>
                            <td th:text="${myPost.getContent()}"> {content}</td>
                            <td style="width: 15%">
                                <form th:action="@{/posts/remove/{id} (id = ${myPost.id})}" th:method="DELETE">
                                    <button type="submit" class="btn-danger btn">Remove</button>
                                </form>

                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-6 mt-1 mb-1">
                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">All Other Posts</h3>
                <h6 th:text="|${homePosts.getOtherPosts().size()} total posts|" class="mySticky bg-gray text-dark  mb-0 mt-0">{otherUsersPostsTotalCount} total posts</h6>
                <div class="bg-dark rounded m-auto" style="height: 68.5vh; overflow: auto">
                    <th:block th:each="otherPost : *{otherPosts}">
                        <br>
                        <ul class="list-group list-group-horizontal text-dark">
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <td th:text="|${otherPost.getCreator().username}:|" style="width: 15%"><a> {username}: </a></td>
                                        <td>
                                            <a th:text="${otherPost.getContent()}" >{content}</a>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="list-group-item bg-gray">
                                <table>
                                    <tr>
                                        <td th:text="|Mood: ${otherPost.getMood().name}|" style="width: 10%">Mood: {mood}</td>
                                        <td th:text="|${otherPost.getUserLikes().size()} likes|"  class="text-primary">{numberOfLikes} likes</td>
                                        <td>
                                            <form th:action="@{/posts/like/{id}(id = ${otherPost.id})}" th:method="POST">
                                                <button type="submit" class="ml-3 text-danger">
                                                    <img src="/img/like.png" width="43px" height="40px">
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>