.flex-container {
    border: 2px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
}

.flex-container.flex-wrap-nowrap{
    flex-wrap: nowrap;
}

.flex-container.flex-wrap-wrap{
    flex-wrap: wrap;
}

.flex-container.flex-wrap-wrap-reverse {
   flex-wrap: wrap-reverse;
}